@font-face {
    font-family: 'Yekan';
    src: url('/fonts/yekan-font/Yekan.eot');
    src: url('/fonts/yekan-font/Yekan.eot?#iefix') format('/fonts/yekan-font/Yekan-opentype'),
    url('/fonts/yekan-font/Yekan.woff') format('woff'),
    url('/fonts/yekan-font/Yekan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Yekan' ;
}

.rtl {
    direction: rtl;
}

.align_right {
    text-align: right ;
    float: right ;
}


.align_center {
    text-align: center ;
}

.invalid-feedback {
    font-size: 1em;
    padding-top: 5px;
}

textarea {
    resize: none;
    width: 100%;
    height: 70px;
}

.form_radio_header {
    text-align: right;
    color: #545b62;
    font-size: 1.3em;
    margin-bottom: 10px;
}

.form-check-label {
    margin-right: 20px;
    width: 100%;
}

.form-check {
    margin-bottom: 5px;
}

#show_options {
    display: none;
}

